run_name: "local_1train_5test"

paths:
  output_base: "/Users/anthonypoole/Repositories/IEEE/opinf/local_output/"       
  data_dir: "/Users/anthonypoole/data/hw2d/hw2d_256x256_24001"       
  
  training_files:
    - hw2d_sim_step0.025_end1_pts512_c11_k015_N3_nu5e-8_20250315142043_15012_2.h5
  
  test_files:
    - hw2d_sim_step0.025_end1_pts512_c11_k015_N3_nu5e-8_20250315142043_21898_0.h5
    - hw2d_sim_step0.025_end1_pts512_c11_k015_N3_nu5e-8_20250315142043_23707_1.h5

physics:
  dt: 0.025              
  n_fields: 2            
  n_x: 256               
  n_y: 256               

pod:
  r: 75                  
  target_energy: 0.9999  

truncation:
  enabled: true          
  method: "time"         
  time: 10.0            
  snapshots: null        

preprocessing:
  centering: false        
  scaling: false         

training:
  training_end: 1000     
  n_steps: 1000          

regularization:
  state_lin:
    min: 1.0e0
    max: 1.0e7
    num: 10
    scale: "log"         
  
  state_quad:
    min: 1.0e4
    max: 1.0e12
    num: 10
    scale: "log"
  
  output_lin:
    min: 1.0e-2
    max: 1.0e4
    num: 10
    scale: "log"
  
  output_quad:
    min: 1.0e-2
    max: 1.0e6
    num: 10
    scale: "log"

model_selection:
  threshold_mean: 0.05   
  threshold_std: 0.20    

evaluation:
  save_predictions: true 
  generate_plots: true   

execution:
  verbose: true          
  log_level: "INFO"      
  engine: "h5netcdf"     